<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="js/materialize.min.js"></script>
    <body>
     <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-Keep"><i class="material-icons">menu</i>Keep </a>
    </div>
  </nav>
    </body>

  <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <ul class="nav navbar-nav">
        <h1>Notes</h1>
  <ul class="navbar-nav">
            <a class="navbar-link"href="{% url 'note_new' %}">Take a note </a>

          {% for note in object_list %}
          <li><p>note ID: <a class="navbar-link" href="{% url 'note_edit' note.id %}">{{ note.id }}</a></p>
          <p>Text: {{ note.text }}</p>
            <a class="navbar-link"href="{% url 'note_delete' note.id %}">Delete</a>

          </li>
    {% endfor %}
        </ul>


      {% if images %}
                        <ul>
                        {% for images in images %}
                                <li><a href="{{ image.imagefile.url }}">{{ image.imagefile.name }}
                                <img src="{{ image.imagefile.url }}" alt="{{ image.imagefile.name }}">
                                </a></li>
                        {% endfor %}
                        </ul>
                {% else %}
                        <p>No images.</p>
                {% endif %}

                <!-- Upload form. Note enctype attribute! -->
                <form action="{% url 'list' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <p>{{ form.non_field_errors }}</p>
                        <p>{{ form.imagefile.label_tag }} </p>
                        <p>
                                {{ form.imagefile.errors }}
                                {{ form.imagefile }}
                        </p>
                        <p><input type="submit" value="Upload" /></p>

                </form>
  </ul>


      </div>
    </nav>

</html>