{% extends 'base.html' %}
{% block body_block %}
  <div class="container">
    <div class="jumbotron">
      <h1>Login here :</h1>
<form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          {{ form.as_p }}
          {# A more "HTML" way of creating the login form#}
    <input type="submit" name="" value="Login">
</form>
 <br>
  <p><strong>-- OR --</strong></p>
  <a style="font-size:200%;" href="{% url 'social:begin' 'github' %}">Login with GitHub</a><br>
        <a style="font-size:200%;"  href="{% url 'social:begin' 'facebook' %}">Login with FaceBook</a><br>

</div>
  </div>
{% endblock %}

